<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <style>
        body {
            font-family: Lato;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 200px;
            height: 200px;
            float: left;
            margin: 0 20px 20px 0;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .container {
            padding: 2px 16px;
        }
    </style>
</head>
<body>
<h1>Products</h1>

<script>
    ;(function() {
        'use strict';

        // wait till DOM is loaded
        window.addEventListener('load', function() {
            let url = 'api/products';

            // POST example: fetch(url, {method: 'post', body: JSON.stringify(opts)})
            // response.ok is true when the status code is 2xx
            fetch(url)
                .then(response => response.ok ? response.json() : Promise.reject({err: response.status}))
                .then(data => fillProducts(data))
                .catch(error => window.alert('Request Failed: ' + error.err));

            let fillProducts = function (data) {
                data.products.forEach(function (product, index) {
                    document.body.innerHTML += '<div class="card"><div class="container"><h4>' + product.title + '</h4><p>Price: ' + product.price + '&euro;</p><p>Stock quantity: ' + product.quantity + '</p></div></div>';
                });
            };


        });
    })();
</script>
</body>
</html>
