{% extends 'layouts/dashboard.twig' %}

{% block pageContent %}
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Verwijderen van evenement
			</div>
			<div class="panel-body">



				<form action="{{ (basePath ~ 'dashboard/messages/' ~ message.id ~ '/delete') }}" method="POST" class="form-horizontal">

					<!-- Task Name -->
					<div class="form-group">
						<div class="col-sm-12">
							<p>Weet je zeker dat je evenement <strong>{{ message.message }}</strong> wil verwijderen?</p>
						</div>
					</div>

					<input type="hidden" name="moduleAction" value="delete" />

					<!-- Add Task Button -->
					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-default" id="btn-delete">
								<i class="fa fa-btn fa-trash"></i><span class="button-text">Verwijderen</span>
							</button>
						</div>
					</div>
				</form>
				<p class="text-left"><a href="{{ (basePath ~ 'dashboard/messages') }}">Cancel and go back</a></p>
			</div>
		</div>



{% endblock %}