.reveal .slides {
    font-size: 70%;
}
code {
    background: rgba(255,255,255,0.3);
    font-size: 0.55em;
}
.has-light-background code {
    background: rgba(0,0,255,0.2);
}
code.hljs {
    font-size: 100%;
}
:not(.current-fragment).hide-when-not-current {
    display: none;
}
.slide-background-content {
    opacity: 0.3;
}