{% if formErrors %}
<!-- Display Validation Errors -->
<!-- Form Error List -->
<div class="alert alert-danger">
    <strong>Something went wrong.</strong>
    <br><br>
    <ul>
        {% for error in formErrors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}